header
    h1
        a(href='/home')='My Cat'
nav
    a.logo(href='/home')='My cat'
    a(href='/home')='Home'
    a(href='/contact')='Contact'
    a(href='/about')='About'
    div(style='flex-grow: 1;')
    button.theme-toggle='🌓︎'
    script.
        document.querySelector('.theme-toggle').addEventListener('click', () => {
            let theme = document.documentElement.getAttribute('data-theme') === 'dark' ? 'light' : 'dark';
            document.documentElement.setAttribute('data-theme', theme);
            localStorage.setItem('theme', theme);
        });
        let logo = document.querySelector('.logo');
        window.addEventListener('scroll', () => {
            if (window.scrollY > 100) {
                logo.classList.add('logo-animated')
            } else {
                logo.classList.remove('logo-animated')
            }
        });
        let prefetchedUrls = new Set([window.location.href]);
        document.querySelectorAll('a').forEach((link) => {
            link.addEventListener('mouseover', () => {
                if (!prefetchedUrls.has(link.href)) {
                    let prefetchLink = document.createElement('link');
                    prefetchLink.href = link.href;
                    prefetchLink.rel = 'prefetch';
                    document.head.append(prefetchLink);
                    prefetchedUrls.add(link.href);
                }
            }, {once: true});
        });
