header
    h1
        a(href='/home')='My Cat'

nav
    button#menu
        <p>☰</p>
        div#menuSelector
            a(href='/home')='Home'
            a(href='/contact')='Contact'
            a(href='/about')='About'
        script
            include ../scrips/menu.js
    a#logo(href='/home')='My cat'
        script
            include ../scrips/logo.js
    a.navElement(href='/home')='Home'
    a.navElement(href='/contact')='Contact'
    a.navElement(href='/about')='About'
    div(style='flex-grow: 1;')
    button#themeToggle
        img
        script
            include ../scrips/themeToggle.js
    script
        include ../scrips/prefetchUrls.js


